<!-- Audio -->

<audio id="audio" preload autoplay>
  <source src="/sounds/FurnaceFun.wav" type="audio/wav">
  <source src="/sounds/FurnaceFun.mp3" type="audio/mpeg">

</audio>

<audio id="Grunty" preload autoplay>
  <source src="/sounds/Grunty.mp3" type="audio/mpeg">
  <source src="/sounds/Grunty.wav" type="audio/wav">
</audio>

<audio id="Change" preload>
  <source src="/sounds/Change.mp3" type="audio/mpeg">
  <source src="/sounds/Change.wav" type="audio/wav">
</audio>

<audio id="Tooty" preload>
  <source src="/sounds/Tooty.mp3" type="audio/mpeg">
  <source src="/sounds/Tooty.wav" type="audio/wav">
</audio>

<audio id="Mumbo" preload>
  <source src="/sounds/Mumbo.mp3" type="audio/mpeg">
  <source src="/sounds/Mumbo.wav" type="audio/wav">
</audio>

<audio id="Cheato" preload>
  <source src="/sounds/Cheato.mp3" type="audio/mpeg">
  <source src="/sounds/Cheato.wav" type="audio/wav">
</audio>

<audio id="Bottles" preload>
  <source src="/sounds/Bottles.mp3" type="audio/mpeg">
  <source src="/sounds/Bottles.wav" type="audio/wav">
</audio>

<audio id="Clap" preload>
  <source src="/sounds/Clap.mp3" type="audio/mpeg">
  <source src="/sounds/Clap.wav" type="audio/wav">
</audio>

<audio id="Boo" preload>
  <source src="/sounds/Boo.mp3" type="audio/mpeg">
  <source src="/sounds/Boo.wav" type="audio/wav">
</audio>

<audio id="GoodEnd" preload>
  <source src="/sounds/End.mp3" type="audio/mpeg">
  <source src="/sounds/End.wav" type="audio/wav">
</audio>

<audio id="BadEnd" preload>
  <source src="/sounds/End2.mp3" type="audio/mpeg">
  <source src="/sounds/End2.wav" type="audio/wav">
</audio>

<!-- Error Message-->

<div id="error" class="section invisible">
  <div class="dialog">
    <div class="text">
      <table>
        <tr>
          <td class="image">
            <img src="/images/UglyTootieHead.png" width="50" height="50">
          </td>
          <td class="desc" id="error_message">
          </td>              
        </tr>
      </table>
    </div>
  </div>
  <br />
  <button type="submit" class="submitButton clickable mainMenu">
    <span class="level1">Main</span> <span class="level2">Menu</span>
  </button>
</div>

<!-- Index -->

<div id="index" class="section">
  <div class="dialog">
    <div class="text">
      <table>
        <tr>
          <td class="image">
            <img src="/images/GruntyHead.png" width="50" height="50">
          </td>
          <td class="desc">
            How many questions do you want to answer?
          </td>              
        </tr>
      </table>
    </div>
  </div>
  <br />
  <table class="score">
    <tr>
      <td id="questionsValue" width="100">
        1
      </td>            
      <td>
        <div id="up" class="clickable">
          <img src="/images/CUp.png" width="50" height="50">
        </div>
        <div id="down" class="clickable">
          <img src="/images/CDown.png" width="50" height="50">
        </div>
      </td>          
    <tr>
  </table>      
  <br />
  <button id="begin" type="submit" class="submitButton clickable">
    <span class="level1">Let's</span> <span class="level2">Go!</span>
  </button>
</div>

<!-- Question  -->

<div id="quiz" class="section invisible">
  <form id="question" method="post" action="/Feedback">
    <div class="dialog" id="actualQuestion">
      <div class="text">
        <table>
          <tr>
            <td class="image">
                <img src="/images/GruntyHead.png" width="50" height="50">
            </td>
            <td class="desc" id="questionText">
              Question
            </td>              
          </tr>
        </table>
      </div>
    </div>
    <br />
    <br />
    <div class="dialog clickable answer not-hover" id="answer1">
      <div class="text">
        <table>
          <tr>
            <td class="image">
                <img src="/images/TootieHead.png" width="50" height="50">
            </td>
            <td class="desc" id="answer1Text">
              Answer
            </td>              
          </tr>
        </table>
      </div>
    </div>
    <br />
    <div class="dialog clickable answer not-hover" id="answer2">
      <div class="text">
        <table>
          <tr>
            <td class="image">
                <img src="/images/MumboHead.png" width="50" height="50">
            </td>
            <td class="desc" id="answer2Text">
              Answer
            </td>              
          </tr>
        </table>
      </div>
    </div>
    <br />
    <div class="dialog clickable answer not-hover" id="answer3">
      <div class="text">
        <table>
          <tr>
            <td class="image">
                <img src="/images/CheatoHead.png" width="50" height="50">
            </td>
            <td class="desc" id="answer3Text">
              Answer
            </td>              
          </tr>
        </table>
      </div>
    </div>
    <br />    
    <div class="dialog clickable answer not-hover" id="answer4">
      <div class="text">
        <table>
          <tr>
            <td class="image">
                <img src="/images/BottlesHead.png" width="50" height="50">
            </td>
            <td class="desc" id="answer4Text">
              Answer
            </td>              
          </tr>
        </table>
      </div>
    </div>
    <br />    
  </form>
</div>  

<!-- Feedback -->

<div id="feedback" class="section invisible">
  <div class="dialog">
    <div class="text">
      <table>
        <tr>
          <td class="image">
            <img src="/images/BrentildaHead.png" width="50" height="50">
          </td>
          <td class="desc" id="feedbackText">
            Feedback
          </td>              
        </tr>
      </table>
    </div>
  </div>
  <br />
  <div class="dialog">
    <div class="text">
      <table>
        <tr>
          <td class="image">
            <img src="/images/GruntyHead.png" width="50" height="50">
          </td>
          <td class="desc" id="commentText">
            Comment
          </td>              
        </tr>
      </table>
    </div>
  </div>
  <br />
</div>  

<!-- Final -->

<div id="final" class="section invisible">
  <div class="dialog">
    <div class="text">
      <table>
        <tr>
          <td class="image">
            <img src="/images/GruntyHead.png" width="50" height="50">
          </td>
          <td class="desc">
            Your final score is:
          </td>              
        </tr>
      </table>
    </div>
  </div>
  <br />    
</div> 

<!-- Score -->
<div id="score" class="section invisible">
  <table class="score">
    <tr>
      <td>
        <img src="/images/jiggy.gif" width="50" height="50">
      </td>
      <td id="finalScore">
        0
      </td>
    </tr>
  </table>
</div>

<!-- Quiz Buttons -->
<div id="quizButtons" class="section invisible">
  <button type="submit" class="submitButton clickable mainMenu">
    <span class="level1">Main</span> <span class="level2">Menu</span>
  </button>
</div>

<!-- Feedback Buttons -->

<div id="feedbackButtons" class="section invisible">
  <button id="nextQuestion" type="submit" class="submitButton clickable">
    <span class="level1">Next</span> <span class="level2">Question</span>
  </button>  
  <button id="next" type="submit" class="submitButton clickable invisible">
    <span class="level1">Next</span>
  </button>  
  <button id="feedbackMainMenu" type="submit" class="submitButton clickable mainMenu">
    <span class="level1">Main</span> <span class="level2">Menu</span>
  </button>
</div>

<!-- Final Buttons -->

<div id="finalButtons" class="section invisible">
  <button type="submit" class="submitButton clickable mainMenu">
    <span class="level1">Main</span> <span class="level2">Menu</span>
  </button>
  <button id="takeAgain" type="submit" class="submitButton clickable">
    <span class="level1">Take</span> <span class="level2">Again</span>
  </button>
</div>
