<!DOCTYPE html>

<html>
<head>
    <title>Design Patterns Quiz</title>
    <link href="/styles/my_styles.css" rel="stylesheet" />
    <script src="/javascripts/jquery-1.9.1.min.js"></script> 
    <script src="/javascripts/client.js"></script>

</head>


<body>
 
  <h1><span class="level1">Design Patt</span><span class="level2">erns Quiz</span></h1>
  <%= yield %>
  
</body>
</html>
