<!-- Audio -->

<audio id="audio" preload autoplay>
  <source src="/sounds/404.mp3" type="audio/mpeg">
  <source src="/sounds/404.wav" type="audio/wav">
</audio>

<!-- Import New CSS -->
<link href="/styles/error.css" rel="stylesheet" />
<br />
<table>
  <tr>
    <td  class="text404">
    <h2>Error: 404</h2>
    <h3>“Look at Grunty she's a beauty, I'm much prettier than Tooty! ”</h3>
    This page is missing or has been moved. Now Grunty is laughing an you're doomed
    </td>    
    <td class="beautyGrunty" width="100">
      <img src="/images/BeautyGrunty.png">
    </td>        
  </tr>  
</table>

