@font-face {
  font-family: last-phrase;
  src: url("/fonts/gill-sans-w04-book.woff") format("woff");
} 

body {
    color: #FFFFFF;
    background-image:url("/images/404.jpg");
    margin-top:10px;
    background-size:100% auto;
    background-color: black;
    background-position:right top;
    font-family: last-phrase;
    text-align:left;
    background-repeat:no-repeat;
}

h1{
  text-align:center;
}

h2 {
  color: DarkBlue;
  text-align:left;
  font-family: title;
  text-shadow: -2px 0 yellow, 0 2px yellow, 2px 0 yellow, 0 -2px yellow;
}

h3 {
  color: Red;
  text-align:left;
  font-family: title;
  text-shadow: -2px 0 yellow, 0 2px yellow, 2px 0 yellow, 0 -2px yellow;
}

.text404{
  vertical-align:top;
}

.beautyGrunty{
  height:450px;
  width: 164px;
}

.beautyGrunty img{
  height: 100%;
  width: auto;
}
