@font-face {
  font-family: title;
  src: url("/fonts/Lithograph-Bold.ttf");
} 

@font-face {
  font-family: last-phrase;
  src: url("/fonts/gill-sans-w04-book.woff") format("woff");
} 

body {
    color: DarkBlue;
    background-color: Lavender;
    background-image:url('/images/bg.jpg');
    background-size: 100% auto;
    margin: 20px;
    font-family: last-phrase;
    text-align:center;
    text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
}

h1 {
  font-family: title;
  text-shadow: -2px 0 yellow, 0 2px yellow, 2px 0 yellow, 0 -2px yellow;
}

td.image {
  width:50px;
  padding-left: 15px;
}

td.desc {
  width:370px;
}

.invisible {
    display: none;
}

.level1{
  color: DarkBlue;
}

.level2{
  color: Red;
}

.dialog {
    background-color:rgba(0, 0, 0, 0.6);
    margin: auto ;
    width: 420px;
    height: auto;
    padding-right: 20px;
    -moz-border-radius: 100px / 70px;
    -webkit-border-radius: 100px / 70px;
    border-radius: 100px / 70px;
}

.text {
    display:inline-block;
    vertical-align: middle;
    color: white;
    text-shadow: none;
}

.clickable {
  cursor:pointer;
}

.submitButton{
  background: transparent;
  border: none;
  width: auto;
  font-size: 30px; font-weight: bold;
  text-shadow: -2px 0 yellow, 0 2px yellow, 2px 0 yellow, 0 -2px yellow;
  padding: 0 20px; height: 40px; vertical-align: middle;
  font-family: title;
}

.score {
  font-family: title;
  color: DarkBlue;
  font-size: 40px;
  margin: auto ;
  height: auto;
}

.not-hover {
  opacity:0.6;
  filter:alpha(opacity=60);
}
